
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
 
}
body
{
  background-image: url("./assets/fast-fingers-background.png");
}
.App-header {
  /* background-color: #282c34; */
  
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  
}
.keyboardIcon
{
  margin-top: 6vh;
  width: 16%;
}
.fastFingeText
{
  color: #ff5155;
  font-size: 48px;
  
}
.startText
{
  color: #ff5155;
  background-color: transparent;
  border: none;
  font-size: 35px;
  
}
.UltimateText
{
  color: #ff5155;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly */

}
hr.frontLine
{
  width: 7vh;
  margin: 3vh;
  border: 0.4px solid #ff5155;
}
.form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 45vh;
  padding: 18px 12px;
  background: #97a1a3;
  border: none;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
  
  }
.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2f464b;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  border-radius: 6px;
  box-shadow: none;
  border: .3px solid #97a1a3;
  background: transparent;
}

/* Custom Select */
.select {
  margin-top: 25px;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: transparent;
  border: .3px solid #97a1a3;
  overflow: hidden;
  border-radius: .25em;
}
select {

  flex: 1;
  padding: 0 .5em;
  color: #97a1a3;
  cursor: pointer;
  
}
/* Arrow */
.select::after {
  
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #97a1a3;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.selectOption
{
  color: #97a1a3;
}
/* Transition */
/* .select:hover::after {
  color: #f39c12;
} */

.App-link {
  color: #61dafb;
}

